/* 
    Created on : October 5, 2016
    Author     : Nathalie Desrosiers
*/

.blueContainer{
    margin: 0px;
    padding: 10px; 
    background-color: #e6faff;    
}

.whiteContainer{
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;    
}

.lefttext{
    text-align: left;
    padding-left: 15px;
}