{% extends "master.html.twig" %}

{% block title %}{{"My updated portfolio"}}{% endblock %}

{% block content %}
    <div class="blueContainer">
        <br>
        <h1>Your portfolio was updated.</h1>
        
        <div class="col-md-11 center-block text-center">              
            <a href="/freelancer" class="btn btn-primary">My portfolio</a>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
{% endblock %}

