{% extends "master.html.twig" %}

{% block title %}{{"My portfolio"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        
            ///////////////////////////////////////////////validating first name              
            $("#firstname").blur(function () {
                var regexfirstname = /^[A-Za-z -]+$/;
                var firstname = $("input[name=firstname]").val();
                if ((firstname.length < 3) || (firstname.length > 50)) {
                    allGood = false;
                    $("#firstalertcharacters").show();
                    $("#submit").hide();
                }
                if (!firstname.match(regexfirstname)) {
                    allGood = false;
                    $("#firstalertregex").show();
                    $("#submit").hide();
                } else if ((firstname.match(regexfirstname)) &&
                        (firstname.length >= 3) &&
                        (firstname.length <= 50)) {
                    allGood = true;
                    $("#firstalertcharacters").hide();
                    $("#firstalertregex").hide();
                    $("#submit").show();

                }
            });

           

            /////////////////////////////////////////////////////Register button
            $('#registrationForm').submit(function (event) {
                var email = $("input[name=email]").val();
                var firstname = $("input[name=firstname]").val();
                var lastname = $("input[name=lastname]").val();
                var country = $("input[name=country]").selectedIndex;
                var password = $("input[name=password]").val();        

            });
        
        
    </script>
{% endblock %}  

{% block content %}
    <div class="blueContainer">
        <br>
        <h1>Freelancer portfolio</h1>
        <form class="form-horizontal" id="portfolioForm" method="POST" action="">
            
            <!-- Picture input -->
            <div class="row" id="pictureinputrow">
                <div class="form-group add-on form-group-lg">
                    <label class="control-label col-sm-2" for="mepicture">A picture of me:</label>
                    <div class="col-sm-10">
                       <input type="file" name="mepicture" value="{{v.imagePath}}"> 
                    </div>
                </div>
            </div>  
                    
            <!-- Skills input -->
               <div class="form-group" style="padding-left:25px;" > 
                  <div class="col-sm-3 lefttext">
                    <div class="checkbox" id="skills">
                        <h3>My skills</h3>
                        <label><input type="checkbox" name="skills[]" value="1">C</label><br>
                        <label><input type="checkbox" name="skills[]" value="2">C++</label><br>
                        <label><input type="checkbox" name="skills[]" value="3">C#</label><br>
                        <label><input type="checkbox" name="skills[]" value="4">Objective C</label><br>
                        <label><input type="checkbox" name="skills[]" value="5">CSS</label><br>
                        <label><input type="checkbox" name="skills[]" value="6">HTML</label><br>
                        <label><input type="checkbox" name="skills[]" value="7">Java</label><br>
                        <label><input type="checkbox" name="skills[]" value="8">JavaScript</label><br>
                        <label><input type="checkbox" name="skills[]" value="9">PHP</label><br>
                        <label><input type="checkbox" name="skills[]" value="10">Python</label><br>
                        <label><input type="checkbox" name="skills[]" value="11">Ruby</label><br>
                        <label><input type="checkbox" name="skills[]" value="11">Other</label><br>
                    </div>
                  </div>
                </div>
            
            <!-- Submit button --> 
            <div class="row" id="registerbutton">
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary" value="" id="submit">Save my portfolio</button>
                        <br><br>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
