{% extends "master.html.twig" %}

{% block title %}{{"My portfolio"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#savemyskills').click(function () {
                
                //////////////////////////////////////////////////////////skills
                var skill = [];
                $('.skills_class:checked').each(function () {
                    if ($(this).is(":checked")) {
                        skill.push($(this).val());
                    }
                });
                skill = skill.toString();
                $.ajax({
                    url: "index.php/freelancer",
                    method: "POST",
                    data: {skill: skill},
                    success: function (data) {
                        $('#result').html(data);
                    }
                });//end of ajax                 
            });//end of submitchanges button
        });//end of document ready
    </script>
{% endblock %}  

{% block content %}
    <div class="blueContainer" style="font-size: 1.3em;">
        <br>
        <h1>Freelancer portfolio skills</h1>
        <form class="form-horizontal" id="portfolioForm" method="POST" action="">
            <div class="row">               
                <!-- Skills input -->
                <div class="col-sm-10 form-group">
                    <fieldset class="fieldset-border">
                        <legend class="fieldset-border">Skills</legend>
                        <div class="checkbox col-sm-4 lefttext" id="skills" style="padding-left:25px;" >
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="C">C</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="C++">C++</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="C#">C#</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="Objective C">Objective C</label><br>
                        </div>
                        <div class="checkbox col-sm-4 lefttext" id="skills" style="padding-left:25px;">
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="CSS">CSS</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="HTML">HTML</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="Java">Java</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="JavaScript">JavaScript</label><br></div>
                        <div class="checkbox col-sm-4 lefttext" id="skills" style="padding-left:25px;">
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="PHP">PHP</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="Python">Python</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="Ruby">Ruby</label><br>
                            <label><input type="checkbox" name="skills[]" class="skills_class" value="Other">Other</label><br>
                        </div>
                    </fieldset>
                    <h3 id="result"></h3>                    
                </div>
            </div>            
            <!-- Save my skills button --> 
            <div class="row">
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-8 text-center">
                        <button type="submit" class="btn btn-primary" name="submit" id="savemyskills">Save my skills</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}