{% extends "master.html.twig" %}

{% block title %}{{"My portfolio"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            
            //////////////////////////////////////////////////////////my picture
            $('#submitmypicture').click(function () {
                /*
                 var regexfileupload = /.+\.(gif|jpe?g|png)/;
                 if (!mypicture.match(regexfileupload)) {
                 $("#filealerttype").show();
                 */
            });//end of submitmypicture button function
            
            //////////////////////////////////////////////////////////////skills
            $('#submitskills').click(function () {
                var skill = [];
                $('.skills_class:checked').each(function () {
                    if ($(this).is(":checked")) {
                        skill.push($(this).val());
                    }
                });
                skill = skill.toString();
                $.ajax({
                    url: "index.php/freelancer",
                    method: "POST",
                    data: {skill: skill},
                    success: function (data) {
                        $('#result').html(data);
                    }
                });//end of ajax*/
            });//end of submitskills button function

            ////////////////////////////////////////////////////////////overview
            $('#submitoverview').click(function () {
                var overviewRaw = $("#overviewtextarea").val();
                if ((overviewRaw.length < 50) || (overviewRaw.length > 1000)) {
                    $("#overviewalert").show();
                } else {
                    $.ajax({
                        url: "index.php/freelancer",
                        statusCode: {
                            400: function (xhr) {
                                var msg = xhr.responseText;
                                alert("400 received: " + msg);
                            }
                        },
                        data: JSON.stringify({
                            overview: overviewRaw
                        }),
                        type: "POST",
                        dataType: "json"
                    }).done(function () {
                        alert("Overview into database.");
                    });//end done
                }//end else
            });//end submitoverview button function
        });//end of document ready
    </script>
{% endblock %}  

{% block content %}
    <div class="blueContainer">
        <br>
        <h1>Freelancer portfolio</h1>
        <form class="form-horizontal" id="portfolioForm" method="POST" action="" enctype="multipart/form-data">

            <!-- Picture input -->
            <div class="form-group">
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border">A picture of me:</legend>
                    <div class="row" id="pictureinputrow">
                        <input type="file" name="mypicture" id="mypicture" value="{{v.imagePath}}"> 
                    </div> 
                </fieldset>
                <div class="alert alert-danger collapse" id="filealerttype">
                    <strong>Sorry</strong>, only GIF, JPEG, JPG & PNG files are allowed.
                </div>
                <div class="alert alert-danger collapse" id="filealertsize">
                    <strong>Sorry</strong>, your file is too large.
                </div>                    
                <!-- Save my picture button --> 
                <div class="row" id="submitmypicturerow">
                    <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10 text-center">
                            <button type="submit" class="btn btn-primary" name="submitmypicture" id="submitmypicture">Save my picture</button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Skills input -->
            <div class="form-group">
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border">Skills</legend>
                    <div class="checkbox col-sm-3 lefttext" id="skills" style="padding-left:25px;" >
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="C">C</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="C++">C++</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="C#">C#</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="Objective C">Objective C</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="CSS">CSS</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="HTML">HTML</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="Java">Java</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="JavaScript">JavaScript</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="PHP">PHP</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="Python">Python</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="Ruby">Ruby</label><br>
                        <label><input type="checkbox" name="skills[]" class="skills_class" value="Other">Other</label><br>
                    </div>
                </fieldset>
                <h3 id="result"></h3>
                <!-- Save my skills button --> 
                <div class="row" id="submitskillsrow">
                    <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10 text-center">
                            <button type="submit" class="btn btn-primary" name="submitskills" id="submitskills">Save my skills</button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Overview input -->
            <div class="form-group">                
                <fieldset class="fieldset-border">
                    <legend class="fieldset-border">Overview</legend>
                    <div class="form-group">                        
                        <textarea class="form-control" rows="5" id="overviewtextarea"></textarea>
                    </div>
                </fieldset>
                <div class="alert alert-danger collapse" id="overviewalert">
                    <strong>Overview</strong> must be between 50 and 1000 characters.
                </div>       
                <h3 id="result"></h3>
                <!-- Overview button --> 
                <div class="row" id="submitoverviewrow">
                    <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10 text-center">
                            <button type="submit" class="btn btn-primary" name="submitoverview" id="submitoverview">Save my overview</button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <!-- Save my skills button 
            <div class="row" id="submitbutton">
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary" name="submitskills" id="submitskills">Save my skills</button>
                        <br><br>
                    </div>
                </div>
            </div>--> 
        </form>
    </div>
{% endblock %}
