{% extends "master.html.twig" %}

{% block title %}{{"Login success"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
{% endblock %}

{% block content %}
    <div class="container-fluid blueContainer">
        <br>
        <h1>Thank you {{username}}. You can continue...</h1>

        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{error}}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        
    </div>
{% endblock %}