{% extends "master.html.twig" %}

{% block title %}{{"Login success"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% endblock %}

{% block content %}
    <div class="container-fluid blueContainer">
        <br>
        <h1>Welcome {{firstname}} {{lastname}} from {{email}}</h1>
        <br><br><br><br><br>        

        <div class="row">
            <div class="col-sm-2 sidenav navbar-left">
                <p>I am a recruiter</a></p>
                <p><a href="/how_it_works">How it works?</a></p>
                <p><a href="/projects">Create a project</a></p>
            </div>
            <div class="col-sm-8">
                <img src="/images/recruiter.jpg" alt="Recruiter" height="200">
                <img src="/images/freelancer.jpg" alt="Freelancer" height="200">
            </div>
            <div class="col-sm-2 sidenav navbar-right">
                <p>I am a freelancer</a></p>
                <p><a href="/become_a_freelancer">How it works?</a></p>
                <p><a href="/freelancer">My portfolio</a></p>
            </div>
        </div>
    </div>
{% endblock %}