{% extends "master.html.twig" %}

{% block title %}Logged out{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
{% endblock %}

{% block content %}
<h1>You are now logged out.</h1>
<a href ="../index.php">Click to continue</a>
{% endblock %}