{% extends "master.html.twig" %}

{% block title %}Failed reset{% endblock %}

{% block content %}
    <div class="blueContainer">
        <br>
        <h1>Failed password reset</h1>
        <p>Password reset token does not exist or has expired.</p>
        <p>You may <a href="/passwordreset"><span class="glyphicon  glyphicon-send"></span>&nbsp;request a new token</a>.</p>
        <a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Click to continue</a>
    </div>
{% endblock %}
