{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="container-fluid blueContainer">
        <h1>Password reset</h1>

        {% if error %}
            <p><b>We couldn't find the email you provided in our system.
                    Please try again or register a new account.</b></p>
                {% endif %}

        <form class="form-horizontal" method="POST">            
            <div class="form-group form-group-lg">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Enter email" required="true">                   
                </div>
            </div>
            <div class="form-group"> 
                <div class="col-sm-5 text-center">
                    <button type="submit" class="btn btn-primary" value="Request password reset">Request a password reset</button>
                </div>
            </div>
        </form>
    {% endblock %}
