{% extends "master.html.twig" %}

{% block title %}Successful{% endblock %}

{% block content %}
    <div class="blueContainer">
        <br>
        <h1>Password reset successful</h1>
        <br><br>
        <p>Click to continue:</p>
        <br>
        <a href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a>
        <br><br>
    </div>

{% endblock %}
