{% extends "master.html.twig" %}

{% block title %}Password reset{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        
        $(document).ready(function () {
            ///////////////////////////////////////////////////verify the inputs
            var allGood = true;
            
            ////////////////////////////////////////////////validating passwords            
            $("#password").blur(function () {
                var regexpassword = /(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*()-+=.,?])/;
                var password = $("input[name=password]").val();
                if ((password.length < 8) || (password.length > 50)) {
                    allGood = false;
                    $("#passwordalertcharacters").show();
                    $("#passwordresetbutton").hide();
                }
                if (!password.match(regexpassword)) {
                    allGood = false;
                    $("#passwordalertregex").show();
                    $("#passwordresetbutton").hide();
                } else if ((password.match(regexpassword)) &&
                        (password.length >= 8) &&
                        (password.length <= 50)) {
                    allGood = true;
                    $("#passwordalertcharacters").hide();
                    $("#passwordalertregex").hide();
                    $("#passwordresetbutton").show();
                }
            });

            $("#password2").blur(function () {
                var regexpassword = /(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*()-+=.,?])/;
                var password = $("input[name=password]").val();
                var password2 = $("input[name=password2]").val();
                if ((password2.length < 8) || (password2.length > 50)) {
                    allGood = false;
                    $("#password2alertcharacters").show();
                    $("#passwordresetbutton").hide();
                }
                if (!password2.match(regexpassword)) {
                    allGood = false;
                    $("#password2alertregex").show();
                    $("#passwordresetbutton").hide();
                }
                if (password != password2) {
                    allGood = false;
                    $("#passwordalertdifferent").show();
                    $("#password2alertdifferent").show();
                    $("#passwordresetbutton").hide();
                } else if ((password2.match(regexpassword)) &&
                        (password2.length >= 8) &&
                        (password2.length <= 50) &&
                        (password == password2)) {
                    allGood = true;
                    $("#password2alertcharacters").hide();
                    $("#password2alertregex").hide();
                    $("#passwordalertdifferent").hide();
                    $("#password2alertdifferent").hide();
                    $("#passwordresetbutton").show();
                }
            });

            if (!allGood) {
                $("#passwordresetbutton").hide();
                event.preventDefault();
            } else if (allGood) {
                $("#passwordresetbutton").show();
            }            
        });
    </script>
{% endblock %} 

{% block content %}

    <div class="blueContainer">
        <br>
        <h1>Password reset</h1>

        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{error}}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <h3>Enter your new password below.</h3>

        <form class="form-horizontal" id="passwordresetform" method="POST" action="">

            <!-- New password input -->   
            <div class="row">
                <div class="form-group add-on form-group-lg">
                    <label class="control-label col-sm-2" for="password">New password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Enter your new password" required="true">
                    </div>
                </div>
            </div>
            <div class="alert alert-danger collapse" id="passwordalertcharacters">
                <strong>Password</strong> must be between 8 and 50 characters long.
            </div>
            <div class="alert alert-danger collapse" id="passwordalertregex">
                <strong>Password</strong> must contain 1 of each: uppercase, lowercase, digit, special character.
            </div> 

            <!-- New password confirmation input -->
            <div class="row">
                <div class="form-group add-on form-group-lg">
                    <label class="control-label col-sm-2" for="password2">New password confirmation:</label>
                    <div class="col-sm-10"> 
                        <input type="password" class="form-control input-lg" id="password2" name="password2" placeholder="Retype your new password" required="true">
                    </div>
                </div>
            </div>
            <div class="alert alert-danger collapse" id="password2alertcharacters">
                <strong>Password confirmation</strong> must be between 8 and 50 characters long.
            </div>
            <div class="alert alert-danger collapse" id="password2alertregex">
                <strong>Password confirmation</strong> must contain 1 of each: uppercase, lowercase, digit, special character.
            </div>
            <div class="alert alert-danger collapse" id="password2alertdifferent">
                Both <strong>passwords</strong> must be identical.
            </div>
            <!-- Submit button --> 
            <div class="row">
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary" value="ResetPassword" id="passwordresetbutton">Reset password</button>
                        <br><br>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

