{% extends "master.html.twig" %}

{% block title %}{{"Register successful"}}{% endblock %}

{% block head %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
{% endblock %}

{% block content %}
    <div class="container-fluid blueContainer">
        <br>
        <h1>Dear {{firstname}} {{lastname}}! You are now enrolled.</h1>
        <h2>A message will be sent at {{email}}</h2>
        <br>
    </div>
{% endblock %}